:root {
  --turq: #4dc6bd;
  --dark: #232931;
  --grey: #4d545e;
  --white: #ececec;
}

.game-wrap {
  perspective: 6000px;
  display: grid;
  place-content: center;
  perspective-origin: 50% 50%;
}

.switchBtn {
  position: absolute;
  padding: 0.4rem 1.1rem;
  top: 1rem;
  font-size: 1rem;
}

.al {
  left: 1rem;
}

.ar {
  right: 1rem;
}

.prism {
  position: relative;
  transform-style: preserve-3d;
  width: 500px;
  height: 600px;
  margin: auto;
  transition: transform 0.4s ease-out;
}

.setToAbout {
  transform: rotate3d(0, 1, 0, 90deg);
}

.setToRound {
  transform: rotate3d(0, 1, 0, -90deg);
}

.prism .screen {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  position: absolute;
  color: white;

  display: grid;
  place-content: center;
}

/* align faces of 3d prism */
.prism .screen:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
  background-color: blue;
}
.prism .screen:nth-child(2) {
  transform: rotateY(90deg) translateZ(250px);
  background-color: red;
}
.prism .screen:nth-child(3) {
  transform: rotateY(180deg) translateZ(250px);
  background-color: purple;
}
.prism .screen:nth-child(4) {
  transform: rotateY(-90deg) translateZ(250px);
  background-color: orange;
}
